@import 'variables';
@import 'reset';
@import 'home';
@import 'experiments';
@import 'contrast';
@import 'shapes';
@import 'draw';
@import 'move';

.reference {
	p {
		font-weight: 600;
		font-size: responsive(14, 18);
		margin: 30px 0 10px;
	}
	a {
		font-size: responsive(12, 16);
		display: block;
		color: $black;
		text-decoration: underline;
	}
}