@import 'variables';
@import 'reset';
@import 'home';
@import 'experiments';
@import 'contrast';
@import 'shapes';

.draw {
	.itens {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
		margin: 20px 0 40px;
		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.container {
				height: 200px;
        width: 200px;
				position: relative;
			}
			.circle {
				border-radius: 100%;
				background-color: $black;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				@for $i from 1 through 14 {
					&:nth-child(#{$i}) {
						width: calc(40px + (#{$i} * 10px));
						height: calc(30px + (#{$i} * 10px));
						top: 20px;
						z-index: calc(14 - #{$i});
					}
				}
				&:nth-child(1) { top: 50px; }
				&:nth-child(2), &:nth-child(3) { top: 40px; }
				&:nth-child(4) { top: 30px; }
				&:nth-child(5) { top: 25px; }
				&:nth-child(odd) {
					background-color: $white;
				}
			}
			.square {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #000;
				@for $i from 1 through 10 {
					&:nth-child(#{$i}) {
						width: calc(100% - (#{$i} * 10%));
						height: calc(100% - (#{$i} * 10%));
						transform: translate(-50%, -50%) rotate($i * 5deg);
					}
				}
				&:nth-child(even) {
					background-color: $white;
				}
			}
			.line {
				display: flex;
				height: 40px;
				width: 160px;
				@for $i from 1 through 4 {
					&:nth-child(#{$i}) {
						height: calc(0px + (#{$i} * 10px)) 
					}
				}
				@for $i from 5 through 7 {
					&:nth-child(#{$i}) {
						height: calc(80px - (#{$i} * 10px)) 
					}
				}
			}
			.bigcircle {
				width: 40px;
				background-color: #000;
				border-radius: 100%;
				transition: width 1s ease;
				@for $i from 1 through 4 {
					&:nth-child(#{$i}) {
						width: calc(0px + (#{$i} * 10px)) 
					}
				}
				@for $i from 5 through 7 {
					&:nth-child(#{$i}) {
						width: calc(80px - (#{$i} * 10px)) 
					}
				}
			}
			.cilindros {
				position: relative;
				.cilindro {
					width: 200px;
					height: 200px;
					border-radius: 100%;
					background-color: #000;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					&:nth-child(even) {
						background-color: #fff;
					}
					@for $i from 1 through 10 {
						&:nth-child(#{$i}) {
							width: calc(200px - (#{$i} * 20px));
						  height: calc(200px - (#{$i} * 20px));
						  top: calc(0px + (#{$i} * 20px));
						  left: calc(55% + (#{$i} * 5%));
						}
					}
				}
			}

			.losangos {
				.losangocontainer {
					position: relative;
					overflow: hidden;
					width: 200px;
					height: 100px;
	        top: 2.5px;
					&:first-child {
						top: -2.5px;
						.losango {
							border: 4px solid #000;
					    border-top: none;
							@for $i from 1 through 10 {
								&:nth-child(#{$i}) {
									top: calc( 10px + ( #{$i} * (-10px) ) );
								}
								&:nth-child(1) {
									top: 0px;
								}
							}
						}
					}
				}
				.losango {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%, 0%);
					height: 100px;
					border: 4px solid #000;
					border-bottom: none;
					@for $i from 1 through 10 {
						&:nth-child(#{$i}) {
							width: calc( 220px - ( #{$i} * 20px ) );
							top: calc( -10px + ( #{$i} * 10px ) );
						}
					}
					&:nth-child(1) {
						top: 0px;
					}
				}
			}
			.op-circles {
				position: relative;
				width: 100%;
				height: 200px;
				.moires {
					position: absolute;
					top: 0;
					width: 200px;
					height: 200px;
					border-radius: 100%;
					background: repeating-radial-gradient(
						transparent,
						transparent 2px, 
						#000 2px, 
						#000 4px
					);
				}
				.moires1 {
					left: 0;
				}
				.moires2 {
					right: 0;
				}
			}
		}
	}
}

.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	.op-circles {
		.circle {
			width: 50vh;
			height: 50vh;
			max-width: 360px;
		  max-height: 360px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100%;
			background: repeating-radial-gradient(
				transparent,
				transparent 4px, 
				#000 4px, 
				#000 8px
			);
		}
		.circle2 {
			left: -150px;
			transform: translate(0%, -50%);
			transition: left 15s ease;
		}
		.thumb {
			&:hover {
				.circle2 {
					left: 100%;
				}
			}
		}
	}
	.thumb {
		width: 100%;
		height: 70vh;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		img {
			height: 100%;
		}
	}
}

.move {
	li {
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px solid #000;
	}
	.container {
		position: relative;
		height: 50vh;
		width: 50vh;
		max-width: 360px;
		max-height: 360px;
		transform: rotate(0deg);
		transition: transform 10s ease;
		cursor: pointer;
		&:hover {
			transform: rotate(360deg);
		}
	}
	.color {
		position: absolute;
		top: 50%;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		justify-self: center;
		transform: translate(0%, -50%);
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				width: calc( 100% - ( 8px * #{$i} ) );
		    height: calc( 100% - ( 8px * #{$i} ) );
			  right: 0;
			}
		}
		@for $i from 11 through 20 {
			&:nth-child(#{$i}) {
				width: calc( 100% - ( 8px * #{$i} ) );
		    height: calc( 100% - ( 8px * #{$i} ) );
			  left: 80px;
			}
		}
		@for $i from 21 through 30 {
			&:nth-child(#{$i}) {
				width: calc( 100% - ( 8px * #{$i} ) );
		    height: calc( 100% - ( 8px * #{$i} ) );
			  right: 80px;
			}
		}
		@for $i from 31 through 44 {
			&:nth-child(#{$i}) {
				width: calc( 100% - ( 8px * #{$i} ) );
		    height: calc( 100% - ( 8px * #{$i} ) );
			  left: 160px;
			}
		}
		&:nth-child(1) {
			width: calc(100% - 8px);
		  height: calc(100% - 8px);
		}
	}
}

.reference {
	p {
		font-weight: 600;
		font-size: 18px;
		margin: 30px 0 10px;
	}
	a {
		display: block;
		color: $black;
		text-decoration: underline;
	}
}